@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: auto;
    padding-top: 10px;
    width: 1300px;
    max-width: 1300px;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

fieldset {
    width: 100%;
}

legend {
    padding: 5px 10px;
    margin-left: 10px;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.addNewUserContainer {
    position: relative;
    padding-bottom: 20px;
}

.addNewUserContainer button {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    font-weight: bolder;
}
.item {
    padding: 3px;
}

.item span {
    text-transform: uppercase;
    margin-left: 5px;
    padding: 3px;
    font-size: 0.7rem;
}

table.userLastAdd {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.userLastAdd td, table.userLastAdd th {
    padding: 3px 2px;
}

table.userLastAdd tbody td {
    font-size: 12px;
}

table.userLastAdd tr:nth-child(even) {
    background: #AAAAAA;
}

table.userLastAdd thead {
    border-bottom: 2px solid #444444;
}

table.userLastAdd thead th {
    font-size: 12px;
    font-weight: bold;
    color: #000;

}
.userLastAdd th:last-of-type{
   width: 10%;
    text-align: center;
}
.userLastAdd td:last-of-type{
    text-align: center;
}
.userLastAdd a {
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.userLastAdd a[title]:hover::after {
    content: attr(title);
    position: absolute;
    color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 1px;
    text-transform: uppercase;
}