<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../static/global.css" th:href="@{global.css}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>

<fieldset class="container">
    <legend>Data admin</legend>
    <div class="item">
        <label>
            Login:<span>User</span>
        </label>
    </div>
    <div class="item">
        <label>
            Company:<span>D38m0n</span>
        </label>

    </div>
    <div class="item">
        <label>
            Last log:<span>12.04.2022</span>
        </label>
    </div>
</fieldset>

<fieldset class="addNewUserContainer">
    <legend>Add new user</legend>

    <form action="#" method="post" th:action="@{/admin}" th:object="${user}">
        <div class="container">
            <label><p>Login</p>
                <input type="text" th:field="*{login}" required>
            </label>
            <label><p>Password</p>
                <input type="password" th:field="*{psw}" required>
            </label>
            <label><p>E-mail</p>
                <input type="email" th:field="*{email}" required>
            </label>
            <label>
                <p>PESEL</p>
                <input type="number" th:field="*{evidence_id.pesel}" required>
            </label>

            <label><p>Name</p>
                <input type="text" th:field="*{evidence_id.name}">
            </label>
            <label><p>Surname</p>
                <input type="text" th:field="*{evidence_id.sureName}">
            </label>
            <label><p>Sex</p>
                <input type="text" th:field="*{evidence_id.sex}">
            </label>
            <label><p>Brand</p>
                <input type="text" th:field="*{evidence_id.brand}">
            </label>

            <label><p>Country</p>
                <input type="text" th:field="*{evidence_id.country}">
            </label>
            <label><p>City</p>
                <input type="text" th:field="*{evidence_id.city}">
            </label>
            <label><p>Street</p>
                <input type="text" th:field="*{evidence_id.street}">
            </label>
        </div>
        <button type="submit" name="addUser">SUBMIT</button>
    </form>
</fieldset>
<fieldset class="lastAddUser">
    <legend>Last add user</legend>

    <table class="userLastAdd">
        <thead>
        <tr>
            <th>Login</th>
            <th>E-mail</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}">
            <td th:text="${u.login}">Demo</td>
            <td th:text="${u.email}">Demo</td>
            <td>
                <a title="Info" th:href="'/user/' + ${2}">
                    <i class="material-icons">contact_mail</i>
                </a>
                <a title="Setting" th:href="'/user/' + ${2} + '/edit'">
                    <i class="material-icons">manage_accounts</i>
                </a>
                <a title="block" th:href="'/user/' + ${2} +'/deactivate'">
                    <i class="material-icons">not_interested</i>
                </a>
            </td>
        </tr>
        </tbody>
        </tr>
    </table>
</fieldset>

</body>
</html>